<!DOCTYPE html><!--[if lt IE 7]><html class="no-js ie ie6 lt-ie7 lt-ie8 lt-ie9 lt-ie10"><![endif]-->
<!--[if IE 7]>   <html class="no-js ie ie7 lt-ie8 lt-ie9 lt-ie10"><![endif]-->
<!--[if IE 8]>   <html class="no-js ie ie8 lt-ie9 lt-ie10"><![endif]-->
<!--[if IE 9]>   <html class="no-js ie ie9 lt-ie10"><![endif]-->
<!--[if gt IE 9]><html class="no-js ie ie10"><![endif]-->
<!--[if !IE]><!-->
<html class="no-js" lang="es"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>Escuela Neijing Tehuacán </title>

    <!-- Etiquetas SEO -->
    <meta name="description" content="Página Oficial de Neijing Tehuacán. Acupuntura, Moxibustión, Masaje Energético, Contemplación, Oración, Meditación, Humanismo Sanador, Qi Gong Li, Danza Sanadora, Canto Sanador, Comer Salud ">
    <meta name="keywords" content="Acupuntura, Moxibustión, Masaje Energético, Contemplación, Oración, Meditación, Humanismo Sanador, Qi Gong Li, Danza Sanadora, Canto Sanador, Comer Salud">

    <!-- Iconos en Dispositivos Apple -->
    <link rel="apple-touch-icon" href="images/apple-icons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" sizes="57x57" href="images/apple-icons/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-icons/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-icons/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/apple-icons/apple-touch-icon-144x144-precomposed.png">

    <!-- Iconos en Dispositivos Microsoft -->
    <meta name="msapplication-TileImage" content="images/apple-icons/apple-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#ffffff">

    <!-- Social Iconos -->
    <link href="css/social-icons-svg.css" rel="stylesheet" type="text/css">
    <!-- Modernizr -->

    <!-- framework css -->
    <link type="text/css" rel="stylesheet" href="css/groundwork.css"><!--[if IE]>
    <link type="text/css" rel="stylesheet" href="css/groundwork-ie.css"><![endif]-->
    <!-- CSS personalizado -->
    
    <!--<link rel="stylesheet" href="css/slideshow.css"> -->
    <!-- Important Owl stylesheet -->
    <link rel="stylesheet" href="owl-carousel/owl.carousel.css">
 
    <!-- Default Theme -->
    <link rel="stylesheet" href="owl-carousel/owl.theme.css">
    <link rel="stylesheet" href="css/jquery.navgoco.css">
    <link rel="stylesheet" href="css/miestilo.css">


    <script type="text/javascript" src="js/libs/jquery-1.10.2.min.js"></script>
    <script src="owl-carousel/owl.carousel.js"></script>
    <script src="js/plugins/jquery.navgoco.min.js"></script>
    
    <!-- <link href='http://fonts.googleapis.com/css?family=Dosis:600' rel='stylesheet' type='text/css'>-->
    <script src="js/libs/modernizr-2.6.2.min.js"></script>
    <!-- jQuery -->
    
  

    <script type="text/javascript">
      // extend Modernizr to have datauri test
      (function(){
        var datauri = new Image();
        datauri.onerror = function() {
          Modernizr.addTest('datauri', function () { return false; });
        };
        datauri.onload = function() {
          Modernizr.addTest('datauri', function () { return (datauri.width == 1 && datauri.height == 1); });
          Modernizr.load({
            test: Modernizr.datauri,
            nope: 'css/no-datauri.css'
          });
        };
        datauri.src = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==";
      })();
      // SVG support?
      Modernizr.load({
        test: Modernizr.inlinesvg,
        yep: [
          'css/social-icons-svg.css'
        ],
        nope: [
          'css/social-icons-png.css'
        ]
      });
      // polyfill for HTML5 placeholders
      Modernizr.load({
        test: Modernizr.input.placeholder,
        nope: [
          'css/placeholder_polyfill.min.css',
          'js/libs/placeholder_polyfill.jquery.js'
        ]
      });
      
    </script>
  </head>
  <body>
    <!-- header-->
    <header class="white band padded">
        <div class="container">
          <div class="row">
            <div class="one header">
              <h1 data-compression="9" data-min="10" data-max="150" class="heading"><a href="/" class="tootip blue on" role="tooltip" data-title="Inicio" style="text-decoration: none;">Escuela Neijing Tehuacán</a></h1>
              <h2 class="heading">"Casa del Alivio"  <img src="img/LogoNeijingEscuela.png" ></h2>
              <p>MEDICINA TRADICIONAL CHINA</p>
              </div>
            </div>
           
        </div>
    </header>
    <!-- END header-->
      <!-- 1er Banner-->
      <div class="container">
        <div class="one whole padded">
        
          <div id="owl-demo">
                    
            <div class="item"><a href="#example-modal" class="modal"><img class="tooltip asphalt on redondeado" role="tooltip" data-title="Comer Salud" src="assets/banner01/ComerSalud.png" alt="Comer Salud"></a></div>
            <div class="item"><a href="#"><img class="tooltip asphalt on redondeado" role="tooltip" data-title="Acúpuntura" src="assets/banner01/Acupuntura.png" alt="Acúpuntura"></a></div>
            
            
            <div class="item"><a href="#"><img class="tooltip asphalt on redondeado" role="tooltip" data-title="Contemplación" src="assets/banner01/Contemplacion.png" alt="Contemplación"></a></div>
            <div class="item"><a href="#"><img class="tooltip asphalt on redondeado" role="tooltip" data-title="Danzas de Vida" src="assets/banner01/DanzasdeVida.png" alt="Danzas de Vida"></a></div>
            <div class="item"><a href="#"><img class="tooltip asphalt on redondeado" role="tooltip" data-title="Humanismo Sanador" src="assets/banner01/HumanismoSanador.png" alt="Humanismo Sanador"></a></div>
            <div class="item"><a href="#"><img class="tooltip asphalt on redondeado" role="tooltip" data-title="Masaje Energético" src="assets/banner01/MasajeEnergetico.png" alt="Masaje Energético"></a></div>
            <div class="item"><a href="#"><img class="tooltip asphalt on redondeado" role="tooltip" data-title="Medicina Tradicional China" src="assets/banner01/MedicinaTradicionalChina.png" alt="Medicina Tradicional China"></a></div>
            <div class="item"><a href="#"><img class="tooltip asphalt on redondeado" role="tooltip" data-title="Moxibustión" src="assets/banner01/Moxibustion.png" alt="Moxibustión"></a></div>
            <div class="item"><a href="#"><img class="tooltip asphalt on redondeado" role="tooltip" data-title="Oración" src="assets/banner01/Oracion.jpg" alt="Oración"></a></div>
            <div class="item"><a href="#"><img class="tooltip asphalt on redondeado" role="tooltip" data-title="Qi Gong Li" src="assets/banner01/QiGongLi.png" alt="Qi Gong Li"></a></div>
            <div class="item"><a href="#"><img class="tooltip asphalt on redondeado" role="tooltip" data-title="Meditación" src="assets/banner01/Meditacion.jpg" alt="Meditación"></a></div>
            <div class="item"><a href="#"><img class="tooltip asphalt on redondeado" role="tooltip" data-title="Nuevos Cursos" src="assets/banner01/NuevosCursos.jpg" alt="Nuevos Cursos"></a></div>
            
          </div> 
         <!-- Modales-->
       <div id="example-modal" class="mfp-hide"><img src="assets/banner01/ComerSalud.png" alt="Comer Salud" class="pull-right gap-left gap-bottom redondeado">
                <h1>Comer Salud</h1>
                <p><strong><em>Comer</em></strong> debe ser un <em>elemento sanador,</em>un elemento que <strong>cura</strong>, que <strong>sana</strong>; no solamente que nutre, sino que comiendo determinadas cosas y de una determinada forma, nos podemos sanar a determinados problemas o patalogías.</p>
                
                <p>En cualquier caso, sí debemos saber que... <strong><em>"coma menos: su alma se lo a agradecer"</em></strong>.</p>
              </div>
      <!-- END Modales-->
      </div>                    

        </div>
             
      <!-- END 1er Banner-->




      <!-- Contenido Pagina -->
      <div class="container">
      <article class="row">
        <!-- Menu, ENlaces -->
        <aside class="one fourth padded border-right">
          <div class="row">
          <nav>
          <ul id="menuNeijing" class="nav">
              <li class="active"><a href="#">Escuela</a></li>
              <li><a href="#">Sede de España y Enlaces</a>
                  <ul>
                      <li><a href="http://www.escuelaneijing.org/" target="_blank">Tian</a></li>
                      
                      <li><a href="http://wwww.comunicacionestian.com" target="_blank">Radio Comunicaciones Tian</a></li>
                      <li><a href="http://www.tiantv.es" target="_blank">Tian TV</a></li>
                      <li><a href="http://www.inspiracionfemenina.com/" target="_blank">Inspiración Femenina</a></li>
                      <li><a href="http://www.escuelaneijing.org/lema-orante.html" target="_blank">Lema Orante</a></li>
                      <li><a href="http://www.escuelaneijing.org/publicaciones.html" target="_blank">Publicaciones</a></li>
                      <li><a href="http://www.escuelaneijing.org/mapa-sitio2.html" target="_blank">Mapa de Sitio</a></li>
                      <li><a href="http://www.escuelaneijing.org/mapa-sitio2.html" target="_blank">Escuelas Neijing del Mundo</a>
                      <ul>
                              <li><a href="http://www.escuelaneijing.org/escuelas-neijing-del-mundo/europa.html" target="_blank" >Europa</a></li>
                              <li><a href="http://www.escuelaneijing.org/escuelas-neijing-del-mundo/america.html" >América</a></li>
                             
                          </ul></li>

                  </ul>
              </li>
              <li><a href="#">Enseñanza en Tehuacán</a>
                  <ul>
                      
                      <li><a href="#">Seminarios</a>
                          <ul>
                              <li><a href="#" >Medicina Tradicional China</a></li>
                              <li><a href="#" >Prevenciones, Cuidados de Salud</a></li>
                              <li><a href="#" >Masaje Energético</a></li>
                               <li><a href="#" >Qi Gong Li</a></li>
                             
                          </ul>
                      </li>
                      
                      <li><a href="#">Talleres</a>
                          <ul>
                              <li><a href="#">Masaje Energético</a></li>
                              <li><a href="#">Qi gon Li</a></li>
                              <li><a href="#">Danzas de Vida</a></li>
                              <li><a href="#">Canto Sanador</a></li>
                          </ul>
                      </li>
                      
                      <li><a href="#">Seminarios Extraordinarios</a>
                          <ul>
                              <li><a href="#">Humanismo Sanador</a></li>
                              <li><a href="http://www.escuelaneijing.org/actividades-extraordinarias/comer-salud.html" target="_blank">Alquimia del Alimento (Comer Salud)</a></li>
                              
                          </ul>
                      </li>
                      <li><a href="#">Actividades Extraordinarias</a>
                          <ul>
                              <li><a href="#">Oración</a></li>
                              <li><a href="#">Contemplación</a></li>
                              <li><a href="#">Creatividad Sanadora</a></li>
                              
                              
                          </ul>
                      </li>
                      <li><a href="#">Calendario de Actividades</a></li>

                  </ul>
              </li>
              <li><a href="#">Formación </a>
                  <ul>
                      <li><a href="http://www.escuelaneijing.org/proximos-eventos/festival-teatro-creativo-sanador.html" target="_blank">Festival Teatro Creativo Sanador</a></li>
                      <li><a href="http://www.escuelaneijing.org/proximos-eventos/humanismo-internacional.html" target="_blank">Humanismo Internacional</a></li>
                      <li><a href="http://www.escuelaneijing.org/proximos-eventos/agosto-tian2.html" target="_blank">Agosto Tian</a></li>
                      <li><a href="http://www.escuelaneijing.org/proximos-eventos/congreso-ahaa-b-84.html" target="_blank">Congreso AHH B'84</a></li>
                      <li><a href="http://www.escuelaneijing.org/proximos-eventos/danza-internacional.html" target="_blank">Danza Internacional</a></li>
                      <li><a href="http://www.escuelaneijing.org/proximos-eventos/congreso-inspiracion-femenina.html" target="_blank">Congreso de Inspiración Femenina</a></li>
                      <li><a href="http://www.escuelaneijing.org/proximos-eventos/europa.html" target="_blank">Europa</a></li>
                      <li><a href="http://www.escuelaneijing.org/proximos-eventos/cono-sur-hispanoamerica.html" target="_blank">Cono Sur Hispanoamérica</a></li>
                      
                  </ul>
              </li>
              <li><a href="#">Creatividad Sanadora</a></li>
              <li><a href="#">Escuelas Neijing de México</a></li>
              <li><a href="http://www.escuelaneijing.org/publicaciones.html" target="_blank">Libros y Revistas </a></li>

          </ul>
          </nav>


          
          </div>
          

        </aside>
        <!-- END Menu, ENlaces -->

        <!-- Section , Galeria y contenido -->
        <section class="three fourths padded">
          <div class="row">
          <!-- Galeria  -->
          <div class"one whole padded">
            <div class="one half small-tablet padded">
            <h1>Galeria de Fotos</h1>
            
            
            <div id="owl-demo2" class="owl-carousel owl-theme">
             
            
            <div class="item"><img src="images/galeria1/img02_400x300.jpg" alt="Galeria 1 Neijing"></div>
            <div class="item"><img src="images/galeria1/img03_400x300.jpg" alt="Galeria 1 Neijing"></div>
            <div class="item"><img src="images/galeria1/img04_400x300.jpg" alt="Galeria 1 Neijing"></div>
            <div class="item"><img src="images/galeria1/img05_400x300.jpg" alt="Galeria 1 Neijing"></div>
            <div class="item"><img src="images/galeria1/img07_400x300.jpg" alt="Galeria 1 Neijing"></div>
            <div class="item"><img src="images/galeria1/img08.jpg" alt="Galeria 1 Neijing"></div>
            
            <div class="item"><img src="images/galeria1/img10.jpg" alt="Galeria 1 Neijing"></div>
          
          
            </div>
          </div>

          <!--
          <img src="images/galeria1/img01_400x300.jpg" class="pull-left right-one padded" alt="400x30">
           -->
          <!-- Contenido  -->
          <div class="Contenido">
          <h5><p>La Escuela Neijing de Tehuacán pertenece a un grupo Internacional  de escuelas que se expande por todo el mundo y que tiene su sede en Pozo Amargo, Cuenca, ESPAÑA.</p>
          <p>La dirección de este proyecto internacional está a cargo del Dr. José Luis Padilla Corral.</p> 
          <p>En México existen 4 escuelas ubicadas en México, D.F., Cancún, Puebla y Tehuacán.   Somos una Asociación Civil sin fines de lucro.</p>
          <p>La Escuela en Tehuacán inició sus actividades en 1999 en la colonia Observatorio, con un servicio a la comunidad más necesitada, de Acupuntura y Moxibustión, Masaje Energético y Humanismo Sanador. Nos dedicamos al cuidado y a la prevención de la Salud, a la investigación, a la práctica clínica y a la transmisión de la Medicina Tradicional China, así como a capacitar personas interesadas y preocupadas por la salud psicoafectiva, emocional, espiritual, anímica, mental y física.</p></h5>

            
          
          </div>
          <!-- End Contenido  -->
          <div class="one small-tablet half padded"></div>
          <div class="one small-tablet half padded"></div>
          <div class="one small-tablet half padded">
          <h5><p style="text-align: left; margin-bottom: 0;">Profesora Encargada: Virginia Galván Godínes</p>
          <p style="text-align: left; margin-top: 0;">Profesor encargado: Jesús Martín Mateos</p></h5></div>
         </div>
         </div>
          <!-- End Galeria  -->
        </section>
        <!-- Fin del Section-->
      </article>
      <!-- END Articulo(Contenidos), tiene un Aside y un Section -->

  </div>
    <!-- Contenido Pagina -->



   <!-- Footer-->
    <footer class="footer">
      <div class="container padded">
        <div class="callout">
          <div class="row">
            <div>
              <p>Consulta al servicio de la comunidad 
              <p>Previa cita</p>
              <p>De lunes a miércoles de 9:00 a 13:00 y de 15:30 a 17:00 - Jueves de 9:00 a 13:00</p>
              <p>Av. Nacional 530. San Lorenzo Teotipilco, Tehuacán. (Pasando la entrada del seminario y Barcel)</p>
              <p>tel: 238-3713065 </p>
            </div>
         
          
          </div>
        </div>
      </div>
    </footer>
    <!-- end Footer-->
  <!-- Redes SOciales-->
   <aside>
      <div class="row">
              <div class="one centered mobile ninth">
                <ul class="button-list">
                
                <li><a href="http://twitter.com/EscNeijingTehu" class="tooltip orange on" role="tooltip" data-title="Twitter Oficial de Neijing Tehuacán" target="_blank" ><i class="icon-twitter"></i></a></li>
                <li><a href="#" target="_blank" class="pink"><i class="icon-google-plus"></i></a></li>
                <li><a href="https://www.facebook.com/pages/Escuela-Neijing-Tehuac%C3%A1n/542646049103538?fref=ts" class="tooltip blue on" role="tooltip" data-title="Página Oficial de la Escuela Neijing Tehuacán" target="_blank"><i class="icon-facebook-sign"></i></a></li>
                
              </ul>
              </div>
            </div>
   </aside>
<!-- END Redes SOciales-->






    <!-- scripts-->
    <script type="text/javascript" src="js/plugins/jquery.magnific-popup.js"></script>
    <script type="text/javascript" src="js/groundwork.all.js"></script>
    <!-- Include js plugin -->
    <script type="text/javascript" src="js/codiguito.js"></script>




    <!-- google analytics-->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      
    </script>
  </body>
</html>